{% extends 'projetplanning/base.html' %}
{% block content %}

    <!-- Inclure jQuery depuis un CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Votre script jQuery pour la mise à jour automatique -->
<script>
    $(document).ready(function () {
        // Détecter les changements dans les listes déroulantes
        $('select[name="magasin"], select[name="job"]').on('change', function () {
            // Soumettre automatiquement le formulaire parent
            $(this).closest('form').submit();
        });
    });
</script>

<style>
  /* Style du formulaire */

  /* Style de la liste déroulante */
  select {
    width: 190px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Couleur de fond de la liste déroulante */
    font-size: 16px;
  }
  select:hover {
    background-color: #DADADA;
  }

  /* Style du bouton */
  .button-link {
    width: 190px;
    height: 30px;
    margin-left: 25px;
    margin-top:35px;
    display: inline-block;
    background-color: #DADADA; /* Couleur de fond du bouton */
    color: black; /* Couleur du texte du bouton */
    text-decoration: none; /* Supprime les soulignements de lien */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 27px;
  }

  /* Lorsque le bouton est survolé */
  .button-link:hover {
    background-color: #8A8A8A; /* Couleur de fond au survol */
    color: white;}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

</style>



<body>

<div style="display: flex; height: 100%;">

  <!-- Colonne de gauche pour les filtres -->
  <div style="width: 18%; ">
    <p style="margin-top: 35px;margin-left: 25px">Filtrer par magasin : </p>
    <form method="get" style="  width: 100%; border-radius:5px; ;margin-left: 25px">
       {{ form.magasin }}
    </form>


      <a href="/admin" class="button-link">Ajouter un collaborateur</a>
  </div>

  <!-- Colonne de droite pour les collaborateurs -->
  <div style="display: flex; flex-wrap: wrap; align-content: start;
  height: 100%; text-align: center; justify-content: center; align-items: center; flex: 1;">

    {% for collaborator in collaborator %}
      <div class="card" style="display: inline-block; text-align: center; margin: 10px; width: 170px; height: 270px; padding: 10px;
      border: 1px solid #ccc; border-radius:5px;">
        {% if collaborator.thumbnail %}
        <div style="height: 200px;"><img src="{{ collaborator.thumbnail.url }}" style="max-width: 150px; max-height: 200px;"></div>
        {% else %}
        <div style="height: 200px; justify-content: center;"><em>Image non disponible</em></div>
        {% endif %}
          <div style="width: 100%; margin-top: 10px;"> <a href="{% url 'detail' slug=collaborator.slug %}"
          style="color: black; text-decoration: none;">
              {{ collaborator.name }}</a></div>
          <div style="width: 100%; margin-top: 10px;">{{ collaborator.job }}</div>
      </div>

    {% endfor %}
  </div>
</div>

</body>
{% endblock %}
